In [1]:
%matplotlib inline 
# you can visualize stuff in the notebook
import matplotlib.pyplot as plt # plotting lib
import pandas # data library
from datetime import datetime # datetime library
import seaborn as sns # pretty visuals
sns.set_context('talk', font_scale=1) # font setting
import csv # read csv
pandas.set_option('max_columns', 500) # we want to view all the columns
pandas.set_option('display.float_format', lambda x: '%.3f' % x)
import glob
import os

## Merge

In [103]:
## ALL MESSY FILES
all_files = glob.glob("../data/The_Gap/*") + glob.glob("../data/HM/*")

In [104]:
df_list = []
for filename in sorted(all_files):
    #print(filename)
    df_list.append(pandas.read_csv(filename))
full_df = pandas.concat(df_list)

full_df.to_csv('../data/All-files-all-columns.csv')

In [2]:
gap_files = glob.glob("../data/The_Gap-clean/*")
df_list = []
for filename in sorted(gap_files):
    df_list.append(pandas.read_csv(filename))
full_df = pandas.concat(df_list)

full_df.to_csv('../data/The_Gap-merged.csv')

In [3]:
hm_files = glob.glob("../data/HM-clean/*")
df_list = []
for filename in sorted(hm_files):
    df_list.append(pandas.read_csv(filename))
full_df = pandas.concat(df_list)

full_df.to_csv('../data/HM-merged.csv')

In [4]:
df_hm = pandas.read_csv("../data/HM-merged.csv")
df_gap = pandas.read_csv("../data/The_Gap-merged.csv")

In [5]:
df_gap.head()

,Unnamed: 0,Bill of Lading Number,Arrival Date,Consignee,Consignee Country,Shipper,Shipper Full Address,Shipper Country,Shipment Origin,Shipment Destination,Weight (kg),Container Numbers,Goods Shipped
0,0,MOLU14604372808,YYYY-06-DD,Gap (Canada) Inc.,Canada,Pt Apl Logistics,3rd Floor Masterpiece Bldg Jl Tanah Abang Iv N...,NaN,Indonesia,"Port of Tacoma, Tacoma, Washington",323.000,MOFU6818289,49 CTN\n49 CARTON = 2496 PCS\nNO. OF PGKS PO...
1,1,FTNVMAS000003438,YYYY-06-DD,Urban Outfitters Inc.,United States,Urban Outfitters,"3 Spire Rd, Rushden NN10 0FN, UK",United Kingdom,United Kingdom,"Detroit Metropolitan Airport, Detroit Metropol...",2088.000,ACLU9730143,SLAC APPAREL\n.\n.
2,2,MOLU14351380636,YYYY-06-DD,Expeditors International,NaN,NaN,NaN,NaN,Hong Kong,"The Port of Los Angeles, Los Angeles, California",181.000,BMOU5271183,14 CTN\nWEARING APPARELS\nHTS NO._ 610343\nBO...
3,3,MOLU14351380620,YYYY-06-DD,Expeditors International,NaN,NaN,NaN,NaN,Hong Kong,"The Port of Los Angeles, Los Angeles, California",336.000,BMOU5271183,27 CTN\nWEARING APPARELS\nHTS NO._ 610892\nGI...
4,4,HDMUKHCA1663599,YYYY-06-DD,Expeditors International,NaN,NaN,NaN,NaN,Vietnam,"The Port of Los Angeles, Los Angeles, California",828.000,HMMU9049845,(82CTNS) CY / CY\nSHIPPER LOAD AND COUNT\nPART...

In [6]:
df_hm.head()

,Unnamed: 0,Bill of Lading Number,Arrival Date,Consignee,Consignee Country,Shipper,Shipper Full Address,Shipper Country,Shipment Origin,Shipment Destination,Weight (kg),Container Numbers,Goods Shipped
0,0,MAEUM72078890,2017-04-07,Standard Chartered Bank,NaN,Refat Garments Ltd.,"Ashulia, Bangladesh",Bangladesh,Bangladesh,"Georgia Ports Authority, Savannah, Georgia",392.811,MRKU2619488,WEARING APPARELS INFANT/TODD\nLER GIRLS 99% ...
1,1,MAEUE72078913,2017-04-07,Standard Chartered Bank,NaN,Refat Garments Ltd.,"Ashulia, Bangladesh",Bangladesh,Bangladesh,"Georgia Ports Authority, Savannah, Georgia",76.204,MSKU4706726,WEARING APPARELS WOMENS 69.9\n% COTTON 28.2%...
2,2,MAEUAE2079065,2017-04-07,Standard Chartered Bank,NaN,Refat Garments Ltd.,"Ashulia, Bangladesh",Bangladesh,Bangladesh,"Georgia Ports Authority, Savannah, Georgia",367.410,MSKU4695133,WEARING APPARELS INFANT/TODD\nLER GIRLS 99% ...
3,3,MAEUAC5139627,2017-04-07,Standard Chartered Bank,NaN,Refat Garments Ltd.,"Ashulia, Bangladesh",Bangladesh,Bangladesh,"Georgia Ports Authority, Savannah, Georgia",454.046,PONU1604654,WEARING APPARELS MENS 100% C\nOTTON WOVEN SH...
4,4,MAEUAC2079065,2017-04-07,Standard Chartered Bank,NaN,Refat Garments Ltd.,"Ashulia, Bangladesh",Bangladesh,Bangladesh,"Georgia Ports Authority, Savannah, Georgia",119.295,MSKU4695133,WEARING APPARELS INFANTS 100\n% COTTON WOVEN...

## 1) Total shipments from each county for H&M and Gap

In [7]:
df_hm['Shipper Country'].value_counts().to_csv('../data/HM_shipper_country_count.csv')

In [8]:
df_hm['Shipper Country'].value_counts()[:10]

Bangladesh     4657
Pakistan        920
China           533
Hong Kong       400
India           369
Vietnam         229
Indonesia       176
Philippines     156
Macau           116
Thailand        112
Name: Shipper Country, dtype: int64

In [9]:
df_gap['Shipper Country'].value_counts().to_csv('../data/The_Gap_shipper_country_count.csv')

In [10]:
df_gap['Shipper Country'].value_counts()[:10]

Bangladesh            22556
Bahrain                 166
Philippines             146
China                    87
Hong Kong                82
Cambodia                 79
Dominican Republic       36
Taiwan                   29
Jordan                   22
India                    10
Name: Shipper Country, dtype: int64

## 2)  Total weight of shipments from each country for H&M and Gap

In [11]:
df_hm.groupby('Shipper Country')['Weight (kg)'].sum().sort_values(ascending=False).to_csv('../data/HM_weight_by_shipper_country.csv')

In [12]:
df_hm.groupby('Shipper Country')['Weight (kg)'].sum().sort_values(ascending=False)[:10]

Shipper Country
Bangladesh    13244254.874
Pakistan       7314007.244
Indonesia      5694311.745
China          5386294.917
Hong Kong      4347361.804
India          3267083.053
Philippines    2596784.866
Thailand       1262118.649
Cambodia        819011.970
Vietnam         672970.191
Name: Weight (kg), dtype: float64

In [13]:
df_gap.groupby('Shipper Country')['Weight (kg)'].sum().sort_values(ascending=False).to_csv('../data/The_Gap_weight_by_shipper_country.csv')

In [14]:
df_gap.groupby('Shipper Country')['Weight (kg)'].sum().sort_values(ascending=False)[:10]

Shipper Country
Bangladesh       22882767.846
China              419219.095
Hong Kong          399268.000
Bahrain            141280.904
Philippines         65533.000
Cambodia            28809.000
Taiwan              27033.655
Italy               15144.000
United Kingdom      13357.000
Jordan               8803.776
Name: Weight (kg), dtype: float64

##  3) Top 5 shippers from Bangladesh and exact addresses (to share with AWL team, who arrive there in two days)

In [15]:
df_both = pandas.concat([df_hm, df_gap])

In [16]:
len(df_hm) + len(df_gap)

54610

In [17]:
len(df_both)

54610

In [18]:
df_both.to_csv('../data/Gap_HM_merged.csv')

In [27]:
df_both[df_both['Shipper Country'] == 'Bangladesh']['Shipper Full Address'].value_counts()[:10].to_csv('../data/top-10-addresses-bangladesh.csv')

In [53]:
df_both[df_both['Shipper Country'] == 'Bangladesh']['Shipper'].value_counts()[:5]

Refat Garments Ltd.         4173
Ananta Apparels Ltd.        3123
The Civil Engineers Ltd.    2226
Global Shirts Ltd.          2209
Universal Jeans Ltd.        2096
Name: Shipper, dtype: int64

In [54]:
top_shippers = df_both[df_both['Shipper Country'] == 'Bangladesh']['Shipper'].value_counts()[:5].index

In [79]:
for s in top_shippers:
    print(s,":", df_both[df_both["Shipper"]==s]['Shipper Full Address'].iloc[0])

Refat Garments Ltd. : Ashulia, Bangladesh
Ananta Apparels Ltd. : 136 New Elephant Road, Dhaka, Bangladesh
The Civil Engineers Ltd. : Tejgaon Fire Station, Tejgaon Industrial Area, Dhaka, Bangladesh
Global Shirts Ltd. : Bangladesh
Universal Jeans Ltd. : Chittagong, Bangladesh

 ## What's the time frame of my data? I think it's Sept 2016-Sept 2017 but I could be wrong.

In [56]:
df_both.columns

Index(['Unnamed: 0', 'Bill of Lading Number', 'Arrival Date', 'Consignee',
       'Consignee Country', 'Shipper', 'Shipper Full Address',
       'Shipper Country', 'Shipment Origin', 'Shipment Destination',
       'Weight (kg)', 'Container Numbers', 'Goods Shipped'],
      dtype='object')

In [81]:
 df_both['datetime'] = pandas.to_datetime(df_both['Arrival Date'], errors='ignore')

In [85]:
 df_both.sort_values('datetime').head(2)

,Unnamed: 0,Bill of Lading Number,Arrival Date,Consignee,Consignee Country,Shipper,Shipper Full Address,Shipper Country,Shipment Origin,Shipment Destination,Weight (kg),Container Numbers,Goods Shipped,datetime
7456,231,HJMISHA07060012,2007-07-01,Denice Inc.,United States,Yichang Municipal Shenfa Foreign Tr,Yichang Protect Intellectual Property Report C...,China,China,"New York/Newark Area, Newark, New Jersey",16306.000,MSKU8056700,GARMENT WEARING APPAREL,2007-07-01
7455,230,NYKS486341754,2007-07-01,NaN,NaN,NaN,NaN,NaN,Singapore,"Baltimore, Maryland",9862.000,TRLU5501506,487 CTNS = 5346 PCS OF\nLADIES 95% POLYESTER 5...,2007-07-01

In [97]:
 df_both[~df_both['Arrival Date'].str.contains('YYYY')].sort_values("datetime").tail(10)

,Unnamed: 0,Bill of Lading Number,Arrival Date,Consignee,Consignee Country,Shipper,Shipper Full Address,Shipper Country,Shipment Origin,Shipment Destination,Weight (kg),Container Numbers,Goods Shipped,datetime
11203,14,MOLU14604587365,2017-09-20,Gap (Canada) Inc.,Canada,Pt Apl Logistics,3rd Floor Masterpiece Bldg Jl Tanah Abang Iv N...,NaN,Indonesia,"Port of Tacoma, Tacoma, Washington",55.000,TCNU4278757,11 CTN\n11 CARTON = 299 PCS\nNO. OF PGKS PO_...,2017-09-20
8460,4,YMLUW562102995A,2017-09-20,Stormtech Performance Apparel Ltd.,Canada,Santex Knitwears Ltd.,"A.K. Tower, 6/A, C.D.A Market, Pahartali, Chit...",NaN,Bangladesh,"Port of Tacoma, Tacoma, Washington",8688.000,CAIU9632978,T-SHIRTS SINGLETS TANK TOPS ETC KNIT ETC C\...,2017-09-20
8461,5,YMLUW562100969C,2017-09-20,Stormtech Performance Apparel Ltd.,Canada,Santex Knitwears Ltd.,"A.K. Tower, 6/A, C.D.A Market, Pahartali, Chit...",NaN,Bangladesh,"Port of Tacoma, Tacoma, Washington",770.000,YMLU8670471,BABIES GARMENTS CLTHNG ACCESS COTTON NOT K\...,2017-09-20
8458,2,MAEU605431066,2017-09-21,Cit Commercial,United States,NaN,NaN,NaN,Hong Kong,"New York/Newark Area, Newark, New Jersey",3584.740,MRKU0453736,CONTAINER PARTLOAD SKU#1075/\n6000 CAT# 649...,2017-09-21
8457,1,MAEU961846691,2017-09-21,Expeditors International,NaN,NaN,NaN,NaN,China,"Port Columbus International Airport, Columbus,...",1879.690,MRKU1006938,WEARING APPAREL WOMENS WOVEN\n 100% RAYON BL...,2017-09-21
8456,0,CMDUSGN0499427,2017-09-21,Expeditors International,NaN,NaN,NaN,NaN,Vietnam,"The Port of Los Angeles, Los Angeles, California",4402.000,TEMU8536844,FREIGHT COLLECT\nCHILDRENS APPAREL - GIRLS JEA...,2017-09-21
11192,3,APLU712020590,2017-09-21,Expeditors International,NaN,NaN,NaN,NaN,Indonesia,"The Port of Los Angeles, Los Angeles, California",3134.000,UESU5081410,11 CTNS = 241 PCS OF\nWOMENS 100- POLYESTER WO...,2017-09-21
11191,2,APLU712020665,2017-09-21,Expeditors International,NaN,NaN,NaN,NaN,Indonesia,"The Port of Los Angeles, Los Angeles, California",1794.000,APZU4761028,29 CTNS = 246 PCS OF\nWOMENS 66- NYLON 34- COT...,2017-09-21
11190,1,MOLU14351453310,2017-09-21,Expeditors International,NaN,NaN,NaN,NaN,Sri Lanka,"Georgia Ports Authority, Savannah, Georgia",235.000,MOTU0684171,37 CTN\nWEARING APPARELS\nHTS NO._ 6108.92\nG...,2017-09-21
11189,0,APLU750463042,2017-09-21,Urban Outfitters Inc.,United States,Apl Logistics China Ltd.,"Shenzhen, Guangdong, China",China,China,"Port of Long Beach, Long Beach, California",3273.000,TCLU4087901,350PAIRS OF LADIES SHOES\nPO NO.0001372933\nST...,2017-09-21